<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-acme-index") %>>
          <a href="/docs/providers/acme/index.html">ACME Provider</a>
        </li>

        <li<%= sidebar_current("docs-acme-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-acme-resource-registration") %>>
              <a href="/docs/providers/acme/r/registration.html">acme_registration</a>
            </li>
            <li<%= sidebar_current("docs-acme-resource-certificate") %>>
              <a href="/docs/providers/acme/r/certificate.html">acme_certificate</a>
            </li>
          </ul>
        </li>
        
        <li<%= sidebar_current("docs-acme-dns-providers") %>>
          <a href="/docs/providers/acme/dns_providers/index.html">DNS Providers</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-acme-dns-providers-acmedns") %>>
              <a href="/docs/providers/acme/dns_providers/acmedns.html">acmedns</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-alidns") %>>
              <a href="/docs/providers/acme/dns_providers/alidns.html">alidns</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-auroradns") %>>
              <a href="/docs/providers/acme/dns_providers/auroradns.html">auroradns</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-azure") %>>
              <a href="/docs/providers/acme/dns_providers/azure.html">azure</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-bluecat") %>>
              <a href="/docs/providers/acme/dns_providers/bluecat.html">bluecat</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-cloudflare") %>>
              <a href="/docs/providers/acme/dns_providers/cloudflare.html">cloudflare</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-cloudxns") %>>
              <a href="/docs/providers/acme/dns_providers/cloudxns.html">cloudxns</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-conoha") %>>
              <a href="/docs/providers/acme/dns_providers/conoha.html">conoha</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-designate") %>>
              <a href="/docs/providers/acme/dns_providers/designate.html">designate</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-digitalocean") %>>
              <a href="/docs/providers/acme/dns_providers/digitalocean.html">digitalocean</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-dnsimple") %>>
              <a href="/docs/providers/acme/dns_providers/dnsimple.html">dnsimple</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-dnsmadeeasy") %>>
              <a href="/docs/providers/acme/dns_providers/dnsmadeeasy.html">dnsmadeeasy</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-dnspod") %>>
              <a href="/docs/providers/acme/dns_providers/dnspod.html">dnspod</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-dreamhost") %>>
              <a href="/docs/providers/acme/dns_providers/dreamhost.html">dreamhost</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-duckdns") %>>
              <a href="/docs/providers/acme/dns_providers/duckdns.html">duckdns</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-dyn") %>>
              <a href="/docs/providers/acme/dns_providers/dyn.html">dyn</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-exec") %>>
              <a href="/docs/providers/acme/dns_providers/exec.html">exec</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-exoscale") %>>
              <a href="/docs/providers/acme/dns_providers/exoscale.html">exoscale</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-fastdns") %>>
              <a href="/docs/providers/acme/dns_providers/fastdns.html">fastdns</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-gandi") %>>
              <a href="/docs/providers/acme/dns_providers/gandi.html">gandi</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-v5-gandi") %>>
              <a href="/docs/providers/acme/dns_providers/gandiv5.html">gandiv5</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-gcloud") %>>
              <a href="/docs/providers/acme/dns_providers/gcloud.html">gcloud</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-glesys") %>>
              <a href="/docs/providers/acme/dns_providers/glesys.html">glesys</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-godaddy") %>>
              <a href="/docs/providers/acme/dns_providers/godaddy.html">godaddy</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-hostingde") %>>
              <a href="/docs/providers/acme/dns_providers/hostingde.html">hostingde</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-httpreq") %>>
              <a href="/docs/providers/acme/dns_providers/httpreq.html">httpreq</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-iij") %>>
              <a href="/docs/providers/acme/dns_providers/iij.html">iij</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-inwx") %>>
              <a href="/docs/providers/acme/dns_providers/inwx.html">inwx</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-lightsail") %>>
              <a href="/docs/providers/acme/dns_providers/lightsail.html">lightsail</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-linode") %>>
              <a href="/docs/providers/acme/dns_providers/linode.html">linode</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-v4-linode") %>>
              <a href="/docs/providers/acme/dns_providers/linodev4.html">linodev4</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-mydnsjp") %>>
              <a href="/docs/providers/acme/dns_providers/mydnsjp.html">mydnsjp</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-namecheap") %>>
              <a href="/docs/providers/acme/dns_providers/namecheap.html">namecheap</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-namedotcom") %>>
              <a href="/docs/providers/acme/dns_providers/namedotcom.html">namedotcom</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-netcup") %>>
              <a href="/docs/providers/acme/dns_providers/netcup.html">netcup</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-nifcloud") %>>
              <a href="/docs/providers/acme/dns_providers/nifcloud.html">nifcloud</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-ns1") %>>
              <a href="/docs/providers/acme/dns_providers/ns1.html">ns1</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-otc") %>>
              <a href="/docs/providers/acme/dns_providers/otc.html">otc</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-ovh") %>>
              <a href="/docs/providers/acme/dns_providers/ovh.html">ovh</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-pdns") %>>
              <a href="/docs/providers/acme/dns_providers/pdns.html">pdns</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-rackspace") %>>
              <a href="/docs/providers/acme/dns_providers/rackspace.html">rackspace</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-rfc2136") %>>
              <a href="/docs/providers/acme/dns_providers/rfc2136.html">rfc2136</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-route53") %>>
              <a href="/docs/providers/acme/dns_providers/route53.html">route53</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-sakuracloud") %>>
              <a href="/docs/providers/acme/dns_providers/sakuracloud.html">sakuracloud</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-selectel") %>>
              <a href="/docs/providers/acme/dns_providers/selectel.html">selectel</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-stackpath") %>>
              <a href="/docs/providers/acme/dns_providers/stackpath.html">stackpath</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-transip") %>>
              <a href="/docs/providers/acme/dns_providers/transip.html">transip</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-vegadns") %>>
              <a href="/docs/providers/acme/dns_providers/vegadns.html">vegadns</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-vscale") %>>
              <a href="/docs/providers/acme/dns_providers/vscale.html">vscale</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-vultr") %>>
              <a href="/docs/providers/acme/dns_providers/vultr.html">vultr</a>
            </li>
            <li<%= sidebar_current("docs-acme-dns-providers-zoneee") %>>
              <a href="/docs/providers/acme/dns_providers/zoneee.html">zoneee</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
<% end %>
